@model Eshop.Domain.ViewModels.Account.ForgotPasswordViewModel


@{
    ViewData["Title"] = "فراموشی کلمه عبور";
}
<div class="auth-container">
    <div class="auth-title mb-3">@ViewData["Title"]</div>
    <!-- start of auth-box -->
    <div class="auth-box ui-box">
        <!-- start of auth-form -->
        <form asp-action="ForgotPassword" class="auth-form">
            <!-- start of form-element -->
            <div class="form-element-row mb-3">
                <input type="text" asp-for="Mobile" class="form-control" placeholder="شماره موبایل">
                <span asp-validation-for="Mobile"></span>
            </div>

           
            <!-- end of form-element -->
            <div class="form-element-row mb-3">
                <button class="btn btn-primary">تایید</button>
            </div>
        </form>
        <!-- end of auth-form -->
    </div>
    <!-- end of auth-box -->
</div>