@model Eshop.Domain.ViewModels.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "تغییر کلمه عبور";
}
<div class="auth-container">
    <div class="auth-title mb-3">@ViewData["Title"]</div>
    <!-- start of auth-box -->
    <div class="auth-box ui-box">
        <!-- start of auth-form -->
        <form asp-action="ResetPassword" class="auth-form">
            
             <input type="hidden" asp-for="Mobile"/>
            <div class="form-element-row mb-3">
                <input type="password" asp-for="Password" class="form-control" placeholder="کلمه عبور جدید">
                <span asp-validation-for="Password"></span>
            </div>

            <div class="form-element-row mb-3">
                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="تکرار کلمه عبور جدید">
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="form-element-row mb-3">
                <input type="text" asp-for="ConfirmCode" class="form-control" placeholder="کد تایید">
                <span asp-validation-for="ConfirmCode"></span>
            </div>
            <!-- end of form-element -->
            <div class="form-element-row mb-3">
                <button class="btn btn-primary">تغییر کلمه عبور</button>
            </div>
        </form>
        <!-- end of auth-form -->
    </div>
    <!-- end of auth-box -->
</div>
